In [1]:
import pandas as pd
import numpy as np

import datetime as dt
import time

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('wiki_data_all.csv', index_col=0)

In [3]:
df.shape

(3872914, 9)

In [4]:
df.timestamp.min(), df.timestamp.max()

('2022-01-01 00:00:00', '2022-02-01 00:00:00')

In [5]:
df.head()

,user,userid,userhidden,timestamp,anon,commenthidden,revid,page,pageid
0,Spizaetus,22753251.0,False,2022-01-29 09:48:05,False,False,1068599459,Lutreolina,3901282
1,WolfmanFP,29417873.0,False,2022-01-26 09:58:46,False,False,1068039579,Lutris,18477717
2,Ahunt,253891.0,False,2022-01-24 03:12:04,False,False,1067556746,Lutris,18477717
3,205.124.233.18,0.0,False,2022-01-06 19:45:19,True,False,1064138604,Lutris,18477717
4,Montenois,43089608.0,False,2022-01-08 14:54:32,False,False,1064472018,Lutriņi_Parish,22292060

In [6]:
g = df.groupby(['user'])['pageid'].nunique()

In [7]:
n_revisions = df.shape[0]
n_users = len(g)
pct_multiple_page_edits = len(g[g>1]) / len(g)
pct_anon = df[df.anon].shape[0] / n_revisions

n_revisions, n_users, pct_multiple_page_edits*100, pct_anon * 100

(3872914, 359919, 25.127320313737258, 18.484479645042466)

In [8]:
df[df.user == g[g>=5].index[5]].sort_values(by='timestamp')

,user,userid,userhidden,timestamp,anon,commenthidden,revid,page,pageid
15517,(a)nnihilation97,40691937.0,False,2022-01-01 06:33:21,False,False,1063104033,The_Blip,66994566
15516,(a)nnihilation97,40691937.0,False,2022-01-01 06:34:15,False,False,1063104172,The_Blip,66994566
14617,(a)nnihilation97,40691937.0,False,2022-01-03 07:02:33,False,False,1063469504,Jackass_(franchise),804705
14018,(a)nnihilation97,40691937.0,False,2022-01-03 07:57:09,False,False,1063475050,List_of_Batman_films_cast_members,7421354
14017,(a)nnihilation97,40691937.0,False,2022-01-03 07:59:07,False,False,1063475212,List_of_Batman_films_cast_members,7421354
...,...,...,...,...,...,...,...,...,...
4890,(a)nnihilation97,40691937.0,False,2022-01-27 04:59:22,False,False,1068198948,Spider-Man_in_video_games,2041364
4889,(a)nnihilation97,40691937.0,False,2022-01-27 04:59:57,False,False,1068199008,Spider-Man_in_video_games,2041364
4888,(a)nnihilation97,40691937.0,False,2022-01-27 05:01:29,False,False,1068199165,Spider-Man_in_video_games,2041364
15461,(a)nnihilation97,40691937.0,False,2022-01-28 16:57:42,False,False,1068480236,Roswell_Records,57912528
15460,(a)nnihilation97,40691937.0,False,2022-01-28 16:58:54,False,False,1068480406,Roswell_Records,57912528

0.18484479645042468