In [1]:
import pandas as pd
import os
import numpy as np
import gzip
import json

import pywikibot
import datetime as dt
import time
import threading

In [2]:
df = pd.read_csv('wiki_data_all.csv', index_col=0)

In [3]:
df.shape

(3872914, 9)

In [4]:
df.head()

,user,userid,userhidden,timestamp,anon,commenthidden,revid,page,pageid
0,Spizaetus,22753251.0,False,2022-01-29 09:48:05,False,False,1068599459,Lutreolina,3901282
1,WolfmanFP,29417873.0,False,2022-01-26 09:58:46,False,False,1068039579,Lutris,18477717
2,Ahunt,253891.0,False,2022-01-24 03:12:04,False,False,1067556746,Lutris,18477717
3,205.124.233.18,0.0,False,2022-01-06 19:45:19,True,False,1064138604,Lutris,18477717
4,Montenois,43089608.0,False,2022-01-08 14:54:32,False,False,1064472018,Lutriņi_Parish,22292060

In [6]:
df.groupby(['user'])['pageid'].nunique()

user
!Nsadqa                6
"Serious" Sam Stone    6
"ameliaalexa"          2
"hasanismailhasan"     3
"theBOO Adam"          1
                      ..
한스잘생김                  1
황동기시대                  1
（董宗瑋）                  1
ＳＮＦ５０                  1
Ｔｏｍ                    1
Name: pageid, Length: 359919, dtype: int64

In [9]:
df[df.user == 'BananaCarrot152']

,user,userid,userhidden,timestamp,anon,commenthidden,revid,page,pageid
1678,BananaCarrot152,27557303.0,False,2022-01-17 02:38:51,False,False,1066157281,List_of_large_volcanic_eruptions,26652406